<div class="real-path">
    <a href="" class="path-and path-all">
        <img src="src/image/android.png" width="70" height="70">
        <p>Android路径图</p>
        <span>迅速掌握核心知识</span>
        <span>提升自身竞争力</span>
        <span>成为Android开发高手</span>
        <button>立即学习</button>
    </a>
    <a href="" class="path-all">
        <img src="src/image/unity3d.png" width="70" height="70">
        <p>Unity3D路径图</p>
        <span>精英海归布道师</span>
        <span>讲授国外最先进技术</span>
        <span>让你从"小白"一跃成为"大象"</span>
        <button class="preparing">即将开始</button>
    </a>
</div>