<div class="banner-box">
	// 图片模版
	<div class="banner-img">
	    <div>
	        <a href="#"><img src="../image/55e6b5f787fd0.png"></a>
	    </div>
	</div>	
	// 导航条模版
	<div class="banner-pagination">
	    <span></span>
	</div>
	// 箭头
	<div class="btn-pre banner-arrow"></div>
	<div class="btn-next banner-arrow"></div> 
</div>