<div class="nav-title">
    <ul class="nav-lists">
        <li>
            <a href="" class="nav-one main-nav">移动开发<i></i></a>
            <div>
                <p>应用开发</p>
                <ul>
                    <li><a href="">Android</a></li>
                    <span>|</span>
                    <li><a href="">iOS</a></li>
                </ul>
                <p>游戏开发</p>
                <ul>
                    <li><a href="">Cocos</a></li>
                    <span>|</span>
                    <li><a href="">Unity3D</a></li>
                    <span>|</span>
                    <li><a href="">SpriteKit 2D</a></li>
                    <span>|</span>
                    <li><a href="">Unreal</a></li>
                </ul>
                <p>常用框架</p>
                <ul>
                    <li><a href="">Cordova</a></li>
                    <span>|</span>
                    <li><a href="">React Native</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">前端开发<i></i></a>
            <div>
                <p>前端基础</p>
                <ul>
                    <li><a href="">HTML</a></li>
                    <span>|</span>
                    <li><a href="">CSS</a></li>
                    <span>|</span>
                    <li><a href="">JavaScript</a></li>
                    <span>|</span>
                    <li><a href="">HTML5</a></li>
                    <span>|</span>
                    <li><a href="">CSS3</a></li>
                    <span>|</span>
                    <li><a href="">技术前瞻</a></li>
                </ul>
                <p>前端进阶</p>
                <ul>
                    <li><a href="">TypeScript</a></li>
                    <span>|</span>
                    <li><a href="">前端安全</a></li>
                    <span>|</span>
                    <li><a href="">项目实践</a></li>
                </ul>
                <p>前端框架</p>
                <ul>
                    <li><a href="">jQuery</a></li>
                    <span>|</span>
                    <li><a href="">jQuery UI</a></li>
                    <span>|</span>
                    <li><a href="">jQuery Mobile</a></li>
                    <span>|</span>
                    <li><a href="">AngularJS</a></li>
                    <span>|</span>
                    <li><a href="">ReachJS</a></li>
                    <li><a href="">Bootstrap</a></li>
                    <span>|</span>
                    <li><a href="">React Native</a></li>
                    <span>|</span>
                    <li><a href="">Backbone</a></li>
                    <span>|</span>
                    <li><a href="">Three.js</a></li>
                    <span>|</span>
                    <li><a href="">MooTools</a></li>
                    <li><a href="">Compass</a></li>
                </ul>
                <p>HTML5游戏</p>
                <ul>
                    <li><a href="">Canvas</a></li>
                    <span>|</span>
                    <li><a href="">SVG</a></li>
                    <span>|</span>
                    <li><a href="">WebGL</a></li>
                    <span>|</span>
                    <li><a href="">Cocos2d-js</a></li>
                    <span>|</span>
                    <li><a href="">CreateJS</a></li>
                    <span>|</span>
                    <li><a href="">Unreal</a></li>
                    <li><a href="">Phaser</a></li>
                    <span>|</span>
                    <li><a href="">Egret</a></li>
                    <span>|</span>
                    <li><a href="">Flash</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">后端开发<i></i></a>
            <div>
                <p>Python</p>
                <ul>
                    <li><a href="">Python 基础</a></li>
                    <span>|</span>
                    <li><a href="">web2py</a></li>
                    <span>|</span>
                    <li><a href="">Django</a></li>
                    <span>|</span>
                    <li><a href="">Flask</a></li>
                </ul>
                <p>PHP</p>
                <ul>
                    <li><a href="">PHP 基础</a></li>
                    <span>|</span>
                    <li><a href="">YII</a></li>
                    <span>|</span>
                    <li><a href="">ThinkPHP</a></li>
                    <span>|</span>
                    <li><a href="">WordPress</a></li>
                    <span>|</span>
                    <li><a href="">Phalcon</a></li>
                    <span>|</span>
                    <li><a href="">Apache</a></li>
                    <li><a href="">Fackbook Hack</a></li>
                </ul>
                <p>Node.js</p>
                <ul>
                    <li><a href="">Node.js 基础</a></li>
                    <span>|</span>
                    <li><a href="">express</a></li>
                    <span>|</span>
                    <li><a href="">Meteor</a></li>
                    <span>|</span>
                    <li><a href="">Hexo</a></li>
                </ul>
                <p>ASP.NET</p>
                <ul>
                    <li><a href="">C#</a></li>
                    <span>|</span>
                    <li><a href="">ASP.NET MVC</a></li>
                    <span>|</span>
                    <li><a href="">Enrity Framework</a></li>
                    <span>|</span>
                    <li><a href="">WPF</a></li>
                </ul>
                <p>J2EE</p>
                <ul>
                    <li><a href="">JSP</a></li>
                    <span>|</span>
                    <li><a href="">Maven</a></li>
                    <span>|</span>
                    <li><a href="">Spring</a></li>
                    <span>|</span>
                    <li><a href="">SpringMVC</a></li>
                    <span>|</span>
                    <li><a href="">Struts2</a></li>
                    <span>|</span>
                    <li><a href="">MyBatis</a></li>
                    <li><a href="">Hibernate</a></li>
                    <span>|</span>
                    <li><a href="">Lucene</a></li>
                    <span>|</span>
                    <li><a href="">常用框架</a></li>
                    <span>|</span>
                    <li><a href="">项目实践</a></li>
                </ul>
                <p>Ruby</p>
                <ul>
                    <li><a href="">Ruby 基础</a></li>
                    <span>|</span>
                    <li><a href="">Ruby on Rails</a></li>
                    <span>|</span>
                    <li><a href="">Grape</a></li>
                    <span>|</span>
                    <li><a href="">Ruby进阶</a></li>
                    <span>|</span>
                    <li><a href="">RubyMine</a></li>
                </ul>
                <p>Go</p>
                <ul>
                    <li><a href="">Go基础</a></li>
                    <span>|</span>
                    <li><a href="">beego</a></li>
                </ul>
                <p>Erlang</p>
                <ul>
                    <li><a href="">Erlang 基础</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">基础知识<i></i></a>
            <div>
                <p>基础语言</p>
                <ul>
                    <li><a href="">C</a></li>
                    <span>|</span>
                    <li><a href="">C++</a></li>
                    <span>|</span>
                    <li><a href="">Objecttive-C</a></li>
                    <span>|</span>
                    <li><a href="">Swift</a></li>
                    <span>|</span>
                    <li><a href="">C#</a></li>
                    <span>|</span>
                    <li><a href="">Java</a></li>
                    <span>|</span>
                    <li><a href="">Perl</a></li>
                    <span>|</span>
                    <li><a href="">Shell</a></li>
                    <span>|</span>
                    <li><a href="">Qt</a></li>
                    <li><a href="">Scala</a></li>
                </ul>
                <p>计算机基础</p>
                <ul>
                    <li><a href="">计算机组成原理</a></li>
                    <span>|</span>
                    <li><a href="">网络工程</a></li>
                    <span>|</span>
                    <li><a href="">Word</a></li>
                    <span>|</span>
                    <li><a href="">Excel</a></li>
                    <span>|</span>
                    <li><a href="">PowerPoint</a></li>
                </ul>
                <p>开发基础</p>
                <ul>
                    <li><a href="">算法基础</a></li>
                    <span>|</span>
                    <li><a href="">数据结构</a></li>
                    <span>|</span>
                    <li><a href="">设计模式</a></li>
                    <span>|</span>
                    <li><a href="">软件工程</a></li>
                </ul>
                <p>开发工具</p>
                <ul>
                    <li><a href="">Git/Github</a></li>
                    <span>|</span>
                    <li><a href="">SVN</a></li>
                    <span>|</span>
                    <li><a href="">VI</a></li>
                </ul>
                <p>开放标准</p>
                <ul>
                    <li><a href="">OpenCL</a></li>
                    <span>|</span>
                    <li><a href="">Open XML</a></li>
                    <span>|</span>
                    <li><a href="">OPenGL/GLES</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">云计算&大数据<i></i></a>
            <div>
                <p>云计算</p>
                <ul>
                    <li><a href="">OpenSrack</a></li>
                    <span>|</span>
                    <li><a href="">Docker</a></li>
                    <span>|</span>
                    <li><a href="">CloudStack</a></li>
                    <span>|</span>
                    <li><a href="">Windows Azure</a></li>
                    <span>|</span>
                    <li><a href="">IaaS</a></li>
                </ul>
                <p>大数据</p>
                <ul>
                    <li><a href="">Hadoop</a></li>
                    <span>|</span>
                    <li><a href="">Storm</a></li>
                    <span>|</span>
                    <li><a href="">Hive</a></li>
                    <span>|</span>
                    <li><a href="">Hbase</a></li>
                    <span>|</span>
                    <li><a href="">Spark</a></li>
                    <span>|</span>
                    <li><a href="">信息检索</a></li>
                    <span>|</span>
                    <li><a href="">数据分析</a></li>
                </ul>
                <p>虚拟化</p>
                <ul>
                    <li><a href="">VMware</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">智能硬件&物联网<i></i></a>
            <div>
                <p>硬件架构</p>
                <ul>
                    <li><a href="">C51</a></li>
                    <span>|</span>
                    <li><a href="">ARM</a></li>
                    <span>|</span>
                    <li><a href="">Keil</a></li>
                    <span>|</span>
                    <li><a href="">Cortex-A</a></li>
                    <span>|</span>
                    <li><a href="">AVR</a></li>
                </ul>
                <p>物联网操作系统</p>
                <ul>
                    <li><a href="">RTOS</a></li>
                    <span>|</span>
                    <li><a href="">Android Wear</a></li>
                    <span>|</span>
                    <li><a href="">Apple Watchkit</a></li>
                    <span>|</span>
                </ul>
                <p>开源硬件平台</p>
                <ul>
                    <li><a href="">Arduino</a></li>
                    <span>|</span>
                    <li><a href="">树莓派</a></li>
                    <span>|</span>
                    <li><a href="">mbed</a></li>
                    <span>|</span>
                    <li><a href="">Gokit</a></li>
                    <span>|</span>
                </ul>
                <p>通信链接技术</p>
                <ul>
                    <li><a href="">无线WiFi</a></li>
                    <span>|</span>
                    <li><a href="">移动通信</a></li>
                    <span>|</span>
                    <li><a href="">蓝牙</a></li>
                    <span>|</span>
                    <li><a href="">NFC</a></li>
                    <span>|</span>
                </ul>
                <p>信息感知处理技术</p>
                <ul>
                    <li><a href="">传感器</a></li>
                    <span>|</span>
                    <li><a href="">数据挖掘</a></li>
                    <span>|</span>
                </ul>
                <p>人机交互技术</p>
                <ul>
                    <li><a href="">语音识别</a></li>
                    <span>|</span>
                    <li><a href="">人脸识别</a></li>
                    <span>|</span>
                    <li><a href="">手势识别</a></li>
                    <span>|</span>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">数据库<i></i></a>
            <div>
                <p>SQL</p>
                <ul>
                    <li><a href="">MySQL</a></li>
                    <span>|</span>
                    <li><a href="">SQL Server</a></li>
                    <span>|</span>
                    <li><a href="">Oracle</a></li>
                    <span>|</span>
                    <li><a href="">SQLite</a></li>
                    <span>|</span>
                    <li><a href="">PostpreSQL</a></li>
                    <span>|</span>
                    <li><a href="">DB2</a></li>
                </ul>
                <p>NoSQL</p>
                <ul>
                    <li><a href="">Cassandra</a></li>
                    <span>|</span>
                    <li><a href="">Redis</a></li>
                    <span>|</span>
                    <li><a href="">MongoDB</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">认证考试<i></i></a>
            <div>
                <p>计算机等级考试</p>
                <ul>
                    <li><a href="">一级</a></li>
                    <span>|</span>
                    <li><a href="">二级C</a></li>
                    <span>|</span>
                    <li><a href="">二级Java</a></li>
                    <span>|</span>
                    <li><a href="">二级C++</a></li>
                    <span>|</span>
                    <li><a href="">网络工程师</a></li>
                    <span>|</span>
                    <li><a href="">数据库工程师</a></li>
                    <li><a href="">信息安全工程师</a></li>
                </ul>
                <p>企业认证</p>
                <ul>
                    <li><a href="">思科认证</a></li>
                    <span>|</span>
                    <li><a href="">Oracle认证</a></li>
                    <span>|</span>
                    <li><a href="">Linux认证</a></li>
                    <span>|</span>
                    <li><a href="">ARM认证</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">企业IT<i></i></a>
            <div>
                <p>运维管理</p>
                <ul>
                    <li><a href="">Shell</a></li>
                    <span>|</span>
                    <li><a href="">自动化运维</a></li>
                    <span>|</span>
                    <li><a href="">Nginx</a></li>
                    <span>|</span>
                    <li><a href="">Apache</a></li>
                    <span>|</span>
                    <li><a href="">运维监控</a></li>
                </ul>
                <p>操作系统</p>
                <ul>
                    <li><a href="">Linux</a></li>
                    <span>|</span>
                    <li><a href="">Windows</a></li>
                    <span>|</span>
                    <li><a href="">Mac OS</a></li>
                </ul>
                <p>企业服务</p>
                <ul>
                    <li><a href="">B2C</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">软件测试<i></i></a>
            <div>
                <p>测试工具</p>
                <ul>
                    <li><a href="">自动化测试</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="" class="main-nav">设计&产品<i></i></a>
            <div>
                <p>设计基础</p>
                <ul>
                    <li><a href="">Photoshop</a></li>
                    <span>|</span>
                    <li><a href="">Flash</a></li>
                    <span>|</span>
                    <li><a href="">Illustrator</a></li>
                    <span>|</span>
                    <li><a href="">Skettch</a></li>
                </ul>
                <p>游戏设计</p>
                <ul>
                    <li><a href="">界面设计</a></li>
                    <span>|</span>
                    <li><a href="">角色设计</a></li>
                </ul>
                <p>产品经理</p>
                <ul>
                    <li><a href="">需求分析</a></li>
                    <span>|</span>
                    <li><a href="">Axure</a></li>
                    <span>|</span>
                    <li><a href="">项目实践</a></li>
                </ul>
                <p>视觉设计</p>
                <ul>
                    <li><a href="">应用UI设计</a></li>
                    <span>|</span>
                    <li><a href="">网页UI设计</a></li>
                    <span>|</span>
                    <li><a href="">设计理论</a></li>
                    <span>|</span>
                    <li><a href="">图形设计</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="down">
    <i></i>
</div>