<div class="know-content">
    <div class="know-content-frame">
        <div class="know-frame">
            <div class="front">
                <img src="src/image/android.png" alt="Android" width="52">
                <h2>Android</h2>
                <span>77门课程</span>
            </div>
            <div class="back">
                <strong>772835人已学习</strong>
                <button class="greenbtn">立即学习</button>
            </div>
        </div>
    </div>
</div>