<div class="partner-container">
    <div class="partner-container-box">
        <span class="btn-pre"></span>
        <span class="btn-next"></span>
        <div class="marquee">
            <ul>
                <li>
                    <a href="#"><img src="..."></a>
                </li>
            </ul>
        </div>
    </div>
</div>
