body,
div,
strong,
p,
img {
    margin: 0;
    padding: 0;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}

html {
    font-size: 62.5%;
}

img {
    border: none;
}

.container {
    display: none;
}
.explain {
    display: block;
    text-align: center;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17%;
}

.title {
    font-size: 20px;
    color: #35b558;
    margin-bottom: 30px;
}

.title strong {
    font-size: 25px;
    font-weight: normal;
}

.cont {
	text-align: left;
	font-size: 13px;
	color: #888888;
}

.recommendation {
    width: 260px;
    height: auto;
    margin-top: 40px;
}










